{{ define "main" }}
<div class="o-wrapper">
    <section class="c-article__list">
        <article class="c-article__item o-layout">
            {{ range .Pages }} 
            {{ $articleURL := .URL }}
            {{ with .Param "image" }}
            <a href="{{ $articleURL }}" class="c-article__link o-layout__item u-1/1 u-1/4@desktop">
                <img class="c-article__img u-z-shadow--1" src="{{ .src }}" />
            </a>
            {{ end }}
            <div class=" o-layout__item u-1/1 u-3/4@desktop">
                <h2><a href="{{ .URL }}" class="c-article__link">{{ .Title }}</a></h2>
                <p class="c-article__excerpt">
                {{ with .Params.article.lead }}
                {{ . }}
                {{ else }}
                {{ .Summary }}
                {{ end }}</p>
                <time class="c-article__pubdate" datetime="{{ .PublishDate.Format "2006-01-02 15:04:05" }}">{{ .PublishDate.Format "02 Jan, 2006" }}</time>
            </div>
            {{ end }}
        </article>
    </section>
</div>
{{ end }}
